/* RoutesList.module.css */
.list {
    width: 100%;
    max-width: 360px;
  }
  
  .listItem {
    display: flex;
    align-items: center;
  }

  .title {
    text-align: left;
    width: 100%;
  }

  .listHeight {
   height: calc(100vh - 144px);
   overflow-y: auto;
  }